body{padding: 5em;
	background-color: lightgray;
}

h1,h2{color:white; text-align: center;
	font-style: italic;
	background-color: black;

}




p{width:750px;
	font-style: italic;

}
/*The next rule centers and spaces the media*/
img, video, audio, canvas, p{
    display: block; 
    margin: 0 auto;
    padding-bottom: 2em}

.credits{font-size: 2.0em;
    color: rgb(255,255,255);
    background-color: black;

}